@import "tailwindcss";

@theme {
  --font-kanit: "Kanit", ui-sans-serif, system-ui, sans-serif;

  --color-midnight-indigo: #203162;
  --color-arctic-sky: #abd7ff;
  --color-crimson-pulse: #ee2337;
  --color-tangerine-pop: #ff9d42;
  --color-solar-amber: #ffc610;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
